html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    font-family: inherit;
    color: inherit;
    font-size: inherit;

}

body {
    background-color: #000;
    color: white;
}

:root {
    --primary-blue: #2945FF;
    --primary-yellow: #E8C547;
    --text-white: #FFFFFF;
    --text-grey: #A0A0A0;
    --bg-black: #000000;
    --border-color: #333333;
    --bg-modal: #1A1A1A;
    --status-completed: #28a745;
    --status-processing: #ffc107;
    --bg-container: #101010;
    --bg-element: #1A1A1A;
    --status-shipped: #17a2b8;
    --delete-red: #dc3545;
}